In [8]:
import pandas as pd
import numpy as np
import os
from datetime import datetime, timedelta

In [6]:
import configparser

config = configparser.ConfigParser()
config.read('strategy_config.ini')
twa02_path = config['base']['twa02_path']

In [4]:
def get_twa02():
    def preprocess(daily_df):
        stock_ids = list(daily_df['股票代號'].astype('str'))
        date_indexes = daily_df.iloc[:,2:].columns
        date_indexes = [datetime.strptime(date_index[:8], "%Y%m%d") for date_index in date_indexes]
        daily_df = daily_df.T.iloc[2:, :]
        daily_df.columns = stock_ids
        daily_df.index = date_indexes
        return daily_df

    twa_close_df = pd.read_excel(twa02_path, sheet_name='close', header=4).dropna()
    twa_close_df = preprocess(twa_close_df)
    twa_close_df['TWA02_profit'] = (twa_close_df['TWA02'] - twa_close_df['TWA02'].shift(1)).astype(float)
    twa_close_df['Date'] = twa_close_df.index
    return twa_close_df

In [9]:
get_twa02()

              TWA02  TWA02_profit       Date
2015-01-05  14121.9           NaN 2015-01-05
2015-01-06  13778.1       -343.78 2015-01-06
2015-01-07  13826.5         48.34 2015-01-07
2015-01-08    14067        240.51 2015-01-08
2015-01-09  14032.8        -34.19 2015-01-09
...             ...           ...        ...
2023-05-03  32435.8       -173.25 2023-05-03
2023-05-04  32551.8        116.00 2023-05-04
2023-05-05  32587.3         35.52 2023-05-05
2023-05-08  32740.6        153.28 2023-05-08
2023-05-09  32799.2         58.66 2023-05-09

[2035 rows x 3 columns]